<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Project Page</title>
    </head>
    <body>
        {{> header}}
        <p>A list of projects is on this page, I guess.</p>

        {{> footer}}
    </body>
</html>